doctype html
html.h-100(lang="ru")
  head
    include components/head
  body.bg-custom.p-md-4
    .container-xxl.rounded-md-4.h-100.overflow-hidden.bg-white
      .row.h-100
        aside.p-0.col-sm-12.col-md-7.col-lg-6.col-xl-5.col-xxl-4.border-end.h-100
        main.col.image-center.d-none.d-md-flex.p-0
          p правая часть
